*{margin: 0; padding: 0;}


body{
    width: 100%;
    background-color: #FF3434;
}

button{border: 0; background-color: transparent;}
ul, li {list-style-type: none;}
a {
    text-decoration: none;
    color: black;
  }

#content{
    width: 60%;
    background-color: white;
    margin: 0 20% 20% 20%;
    padding-top: 5%;
}