/* 모달창 */

#modalOpenButton1,
#modalOpenButton2,
#modalOpenButton3,
#modalCloseButton1,
#modalCloseButton2,
#modalCloseButton3,
#modalCloseButton4{
    cursor: pointer;
  }
  
#modalContainer1,
#modalContainer2,
#modalContainer3{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    
    
  }
  
#modalContent {
    position: absolute;
    background-color: #ffffff;
    width: 80%;
    height: 60vh;
    border-radius: 25px;
    padding: 15px;
    z-index: 2;
    
}
#modalContent h2{
    font-weight: 400;
}
#modalContent h2 span{
    font-weight: bold;
}

#modalContainer1.hidden,
#modalContainer2.hidden,
#modalContainer3.hidden {
    opacity: 0;
    display: none;
    z-index: 2;
}


#modalContainer1,
#modalContainer2,
#modalContainer3{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
    

  }
   
  .hidden {
    display: none; /* 모달을 숨기는 클래스 */
}




.modalCloseButton1{
    position: absolute;
    top: 3%;
    right: 3%;
    width: 35px;
    height: 35px;
    background-color: #F96057;
    border-radius: 50%;
    text-align: center;
    font-weight: bolder;
}
.modalCloseButton1:hover {
    transform: scale(1.2); /* 버튼 크기 증가 */
    transition: transform 0.2s; /* 부드러운 전환 효과 */
}



  /* 모달창 css */
  #modalContent {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    height: 75vh;
    border-radius: 25px;
    padding: 15px;
    margin-top: 5%;
    z-index: 2;
    animation: fadeIn 400ms;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    text-align: center;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5);
        } to {
        opacity: 1;
        transform: scale(1);
        }
    }
    #modalContainer.hidden {
        display: none;
}








/* 모달1 슬라이드 설정 */

#modalContent .modal-slider-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

}
.modal-button{
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background: rgba(255, 219, 219, 0.5);
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    margin: 0 10px 0px 20px;
    cursor: pointer;
    font-size: 1.125rem; /* 18px -> 1.125rem */
}
.modal-button:hover{
    background: rgb(255, 194, 194);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transform:scale(1.1); /* 호버 시 10% 커지도록 설정 */
}
.modal-button button{
    background-color: #F96057;
    
}



#modalContent .img {
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
    overflow: auto; /* 스크롤 가능 */
    overflow-x: hidden;
    width: 800px; /* 슬라이더의 비를 설정 */
    height: 600px; /* 슬라이더의 높이를 설정 */
    text-align: center;
    position: relative; /* 위치 설정 */
    margin-top: 2%;
}

#modalContent .img::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(198, 198, 198);
    border-radius: 5px;
  }
  #modalContent .img::-webkit-scrollbar-thumb{
    background-color: #F96057;
    border-radius: 10px;
  }
#modalContent .image-slider img {
    transition: transform 0.5s ease; /* 이미지 전환 효과 추가 */

}
#modalContent .img p{
    background-color: #ffffff;
    position: sticky;
    top: 0;
}

#modalContent .img img{
    width: 100%;
}







